
@{
    ViewData["Title"] = "About";
}

<div class="text-left">
    <h2 class="display-4 text-white font-weight-bold">About me<br /> </h2>
    <br />
    <h5 class="text-white col-md-6" style="text-align:justify">
        I'm Billy Joe Azur I live in Pangasinan, I studied Bachelor of Science in Information Technology at Urdaneta City University and graduated in year 2020. 
        I have been working in some small freelance projects for a year now.
    </h5> <br />.
    <br />

</div>