@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Atttendance Desktop";
}

<div class="row text-dark bg-white">
    <div class="col-12">
        <p class="font-weight-bold col-md-12" style="text-align:center; font-size:xx-large">
            Attendance Monitoring Desktop(Freelance)
        </p>
        <p class="col-md-12">
            Attendance Monitoring Desktop was developed for Luna Colleges for monitoring employee attendance. 
            Application developed in C# windows form.

        </p>
        @*<p style="text-align:center">
                <a href="https://drive.google.com/file/d/1AB6IlUsmlIX9sNAhgno6rrPawPblVITL/view?usp=sharing" class="btn btn-outline-info">Download apk</a>
            </p>*@
    </div>

    <div class="col-12">
        <img src="~/img/attendancedesktopGIF.gif" style="width:100%; height:auto">
    </div>
    <div class="row">
        <div class="col-auto">
            <p class="font-weight-bold col-auto" style="font-size:x-large">
                My Role
            </p>
            <p>
                <ul>
                    <li>Designer</li>
                    <li>Programmer</li>
                </ul>
            </p>
        </div>
    </div>
</div>
