
@{
    ViewData["Title"] = "Iligtas";
}


<div class="row text-dark bg-white">
    <div class="col-12">
        <p class="font-weight-bold col-md-12" style="text-align:center; font-size:xx-large">
            I-Ligtas(final IT project/thesis)
        </p>
        <p class="col-md-12">
            I-Ligtas was developed for City Disaster Risk Reduction Management Office(CDRRMO) and Bureau of Fire Protection(BFP)
            Urdaneta for the advancement of their way of delivering information to people. Through simulation with the help of 2D game.
        </p>
        <p style="text-align:center">
            <a href="https://drive.google.com/file/d/1AB6IlUsmlIX9sNAhgno6rrPawPblVITL/view?usp=sharing" class="btn btn-outline-info">Download apk</a>
        </p>
    </div>

    <div class="col-12">
        <img src="~/img/iligtasGIF.gif" style="width:100%; height:auto">
    </div>

    <div class="col-6">
        <p class="font-weight-bold col-4" style="font-size:x-large">
            My Role
        </p>
        <p>
            <ul>
                <li>Designer</li>
                <li>Artist</li>
                <li>Programmer</li>
                <li>Level designer</li>
                <li>Sound engineer</li>
                <li>Animator</li>
            </ul>
        </p>
    </div>



</div>
