
@{
    ViewData["Title"] = "Projects";
}

<div class="text-left">
    <p class="display-4 text-white font-weight-bold">Projects<br /> </p>
    <br />
    <div class="row text-dark bg-white">
        <div class="col-12 pad2">
            <img src="~/img/iligtasGIF.gif" style="width:100%; height:auto">
        </div>
        <br />
        <div class="col-md-4">
            <img src="~/img/iligtasLOGO.png" width="100" height="100">
        </div>
        <div class="col-md-8 pad">
            <p>
                I-Ligtas - A Mobile Game-Based Application For Disaster Preparedness using a mobile game
                to help the learners to learn using technology. The researchers aimed to develop an application
                that will help the Risk Reduction agency in the advancement of their way of delivering information
                to people. Through simulation with the help of 2D game. Developed in C# Unity.
            </p>
            <p>
                <a class="btn btn-info" asp-controller="Billy" asp-action="Iligtas">View More</a>
            </p>
        </div>
        <br />

        <div class="col-12 pad2">
            <img src="~/img/idGIF.gif" style="width:100%; height:auto">
        </div>
        <br />
        <div class="col-md-4">
            <img src="~/img/lunaLOGO.png" width="100" height="100">
        </div>
        <div class="col-md-8 pad">
            <p>
                Id System - A Desktop Application for School Id. Developed in C# Windows Form.
            </p>
            <p>
                <a class="btn btn-info" asp-controller="Billy" asp-action="IdSystem">View More</a>
            </p>
        </div>
        <br />

        <div class="col-12 pad2 mobiless">
            <img src="~/img/filipiknowsGIF.gif" style="width:220px;">
        </div>
        <br />
        <div class="col-md-4">
            <img src="~/img/fiLOGO.png" width="100" height="100">
        </div>
        <div class="col-md-8 pad">
            <p>
                Filipiknows - A Mobile Augmented Reality Application for Nursery Students. Developed in C# Unity.
            </p>
            <p>
                <a class="btn btn-info" asp-controller="Billy" asp-action="Filipiknows">View More</a>
            </p>
        </div>
        <br />

        <div class="col-12 pad2">
            <img src="~/img/attendancedesktopGIF.gif" style="width:100%; height:auto">
        </div>
        <br />
        <div class="col-md-4">
            <img src="~/img/lunaLOGO.png" width="100" height="100">
        </div>
        <div class="col-md-8 pad">
            <p>
                Attendance Monitoring System - A Desktop Application for Monitoring Employee Attendance. Developed in C# Windows Form.
            </p>
            <p>
                <a class="btn btn-info" asp-controller="Billy" asp-action="AttendanceDesktop">View More</a>
            </p>
        </div>
        <br />

        <div class="col-12 pad2 mobiless">
            <img src="~/img/attendancemobileGIF.gif" style="width:220px;">
        </div>
        <br />
        <div class="col-md-4">
            <img src="~/img/lunaLOGO.png" width="100" height="100">
        </div>
        <div class="col-md-8 pad">
            <p>
                Mobile Attendance Monitoring System - A Mobile Version of Employee Attendance Monitoring. Developed in C# Xamarin Forms.
            </p>
            <p>
                <a class="btn btn-info" asp-controller="Billy" asp-action="AttendanceMobile">View More</a>
            </p>
        </div>
        <br />

    </div>
</div>