
@{
    ViewData["Title"] = "Projects";
}

<div class="text-left">
    <p class="display-4 text-white font-weight-bold">Projects<br /> </p>
    <br />
    <div class="row text-dark bg-white">
        <div class="col-12">
            <img src="~/img/iligtasGIF.gif" style="width:100%; height:auto">
        </div>
        <br />
        <div class="col-md-4">
            <img src="~/img/iligtasLOGO.png" width="100" height="100"></a>
        </div>
        <div class="col-md-8">
            <p>
                I-Ligtas - A Mobile Game-Based Application For Disaster Preparedness using a mobile game
                to help the learners to learn using technology. The researchers aimed to develop an application
                that will help the Risk Reduction agency in the advancement of their way of delivering information
                to people. Through simulation with the help of 2D game.
            </p>
            <p>
                <a class="btn btn-info" asp-controller="Billy" asp-action="Iligtas">View More</a>
            </p>
        </div>


        <br />
    </div>
</div>