
@{
    ViewData["Title"] = "Skills";
}

<div class="text-left">
    <h2 class="display-4 text-white font-weight-bold">Skills<br /> </h2>
    <br />
    <h5 class="text-white col-md-6" style="text-align:justify">
        TECHNOLOGY: C#, ASP.NET CORE, WINFORM, XAMARIN, MYSQL, HTML, CSS, BOOTSTAP.<br /><br />
        TOOLS: VISUAL STUDIO, GIT, UNITY, PHOTOSHOP.
    </h5> <br />.
    <br />

</div>